html {
    margin: 0;
    padding: 0;

}

main {
    padding: 16px;
}

.grid-container {
    display: grid;
}

.grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
}


.grid3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

img {
    height: 200px;
}

a:visited {
    color: white;
}

a:hover {
    color: green;
}


#main {
    color: white;
}

#vegetacos {
    color: green;
}

nav {
    background-color: orangered;
    padding: 25px;
    border-bottom: 1px solid black;
}
body {
    font-family: 'Roboto', sans-serif;
}


#table-color {
    background-color: rgb(226, 216, 216);
}

footer {
    background: rgb(124, 170, 54);
    padding: 40px;
    margin: -15px;

}

#font-size {
    font-weight: bold;
}
